@font-face {
    font-family: 'Avenir';
    src: url('../../assets/fonts/AvenirLTStd-Medium.otf')
}

.visible-content {
    opacity: 1;
    transition: ease-in 500ms;
}

.hidden-content {
    opacity: 0;
}

.carousel {
    z-index: -1;
    font-family: 'Avenir';
    letter-spacing: 0.15em;
    ;
}

#carousel {
    position: absolute;
    height: 200px;
    width: 810px;
    left: 0;
    right: 0;
    top: 110%;
    bottom: 0;
    margin-bottom: 35vh;
    margin-left: auto;
    margin-right: auto;
}

.carousel .arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: black;
    text-align: center;
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    color: white;
    line-height: 30px;
    margin-top: 131px;
    z-index: 8;
}

.carousel .arrow-right {
    left: 780px;
    z-index: 9;
}

.carousel .item {
    text-align: center;
    color: white;
    font-size: 40px;
    position: absolute;
    transition: height 1s, width 1s, left 1s, margin-top 1s, line-height 1s, background-color 1s;
}

.level-2 {
    height: 75px;
    width: 100px;
    line-height: 150px;
    background-color: black;
    left: 650px;
    margin-top: 109px;
}

.level-1 {
    height: 120px;
    width: 160px;
    line-height: 180px;
    background-color: black;
    left: 530px;
    margin-top: 85px;
}

.level0 {
    height: 300px;
    width: 400px;
    line-height: 200px;
    background-color: black;
    left: 205px;
}

.level1 {
    height: 120px;
    width: 160px;
    line-height: 180px;
    background-color: black;
    margin-top: 85px;
    left: 120px;
}

.level2 {
    height: 75px;
    width: 100px;
    line-height: 150px;
    background-color: black;
    margin-top: 109px;
    left: 60px;
}

.left-enter {
    opacity: 0;
    left: -20px;
    height: 40px;
    width: 60px;
    line-height: 120px;
    margin-top: 125px;
}

.left-enter.left-enter-active {
    opacity: 1;
    left: 60px;
    height: 75px;
    width: 100px;
    line-height: 150px;
    margin-top: 109px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.left-leave {
    opacity: 1;
    left: 650px;
    height: 75px;
    width: 100px;
    line-height: 150px;
    margin-top: 109px;
}

.left-leave.left-leave-active {
    left: 760px;
    opacity: 0;
    height: 40px;
    line-height: 120px;
    margin-top: 125px;
    width: 60px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.right-enter {
    opacity: 0;
    left: 760px;
    height: 40px;
    width: 60px;
    line-height: 120px;
    margin-top: 125px;
}

.right-enter.right-enter-active {
    left: 650px;
    opacity: 1;
    height: 75px;
    margin-top: 109px;
    line-height: 150px;
    width: 100px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.right-leave {
    left: 60px;
    height: 75px;
    opacity: 1;
    margin-top: 109px;
    line-height: 150px;
    width: 100px;
}

.right-leave.right-leave-active {
    left: -10px;
    opacity: 0;
    height: 40px;
    width: 60px;
    line-height: 120px;
    margin-top: 125px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.carousel-noselect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Lobster';
}

.carousel .fi-arrow-left:before {
    content: "•";
}

.carousel .fi-arrow-right:before {
    content: "•";
}