.home {
    text-align: center;
}

.home .logostart {
    height: 10rem;
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

.home .header {
    position: fixed;
    top: 2%;
    display: flex;
    right: 2%;
    justify-content: space-around;
    flex-direction: row;
    width: 35vw;
    visibility: visible;
    overflow: hidden;
}

.home .header2 {
    position: fixed;
    top: 2%;
    display: flex;
    right: 2%;
    justify-content: space-around;
    flex-direction: row;
    width: 35vw;
    visibility: hidden;
}

.home .header-visible {
    filter: opacity(1);
    transition: ease 350ms;
}

.home .header-invisible {
    filter: opacity(0);
    transition: ease-in 100ms;
}

.home .logofull {
    height: 30rem;
    transition: ease-in 500ms;
    -webkit-filter: blur(0);
    filter: blur(0);
    overflow: hidden;
}

.home .logo-container {
    margin-top: 50vh;
    transform: translateY(-50%);
    position: relative;
    left: auto;
    right: auto;
}

.home .logo-container2 {
    transform: translateY(-74%);
    position: fixed;
    left: 0;
    right: 0;
    margin-top: 0;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 12%);
    cursor: pointer;
}

.home .logo-container img, .home .logo-container2 img {
    filter: invert(1)
}

.home .shine {
    position: relative;
}

.home .shine::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.home .shine::before {
    -webkit-animation: shine 4s;
    animation: shine 4s;
}

.home .navbar-item-underline {
    color: black;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    cursor: pointer;
}

.home .navbar-item-underline:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
/* 
.home .navbar-item-underline:active {
    text-shadow: grey 1px 2px 3px;
} */

.home .navbar-item-underline:hover:after {
    width: 100%;
    left: 0;
    
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}

/* @mediaquery : menu burger @ 1076 */

@media screen and (min-width: 600px) and (max-width: 1076px) {
    .home .header {
        position: fixed;
        top: 0;
        display: flex;
        right: 8%;
        flex-direction: column;
        width: 20vw;
        visibility: visible;
        overflow: hidden;
        align-items: center;
    }

    .home .header2 {
        position: fixed;
        top: 0;
        display: flex;
        right: 8%;
        flex-direction: column;
        width: 20vw;
        visibility: hidden;
        overflow: hidden;
        align-items: center;
    }

    .home .navbar-item-underline {
        color: black;
        text-decoration: none;
        letter-spacing: 0.15em;
        display: inline-block;
        padding: 8px 20px;
        position: relative;
        cursor: pointer;
    }
}