@font-face {
  font-family: 'Avenir';
  src: url('../../assets/fonts/AvenirLTStd-Medium.otf')
}

.menu-burger {
  position: fixed;
  height: 0;
  z-index: 150;
  top: 0;
  width: 100vw;
  background-color: white;
  transition: ease 0.5s;
  overflow-x: hidden;
  padding: 0;
  margin-top: 175px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Avenir';
}

.open-menu-burger {
  height: 100vh;
  border-bottom: 1px solid black
}

.menu-container {
  position: fixed;
  right: 10vw;
  top: 60px;
  cursor: pointer;
  display: inline-block;
  z-index: 155;
  background-color: white;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bar1, .bar3 {
  border-radius: 3px;
  position: relative;
  width: 35px;
  height: 2px;
  background-color: black;
  transition: 0.2s;
  align-self: center;
}

.mbar {
  z-index: 101;
  position: relative;
  width: 35px;
  height: 2px;
  margin: 8px 0;
  transition: 0.2s;
  align-self: center;
}

.mbar1, .mbar2 {
  border-radius: 5px;
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: black;
  transition: 0.5s;
}

.open-menu-container .bar1 {
  opacity: 0;
}

.open-menu-container .mbar1 {
  transform: rotate(45deg);
}

.open-menu-container .mbar2 {
  transform: rotate(-45deg);
}

.open-menu-container .bar3 {
  opacity: 0;
}

/* REVIEW !!!! */

.burger-menu-item {
  position: relative;
  margin: 0;
  letter-spacing: 0.2rem;
  cursor: pointer;
  font-weight: normal;
  color: #4d4d4d;
}

.burger-title-container:hover .burger-menu-item {
  transition: ease 0.25s;
  color: black;
}

.burger-title-container {
  display: inline-flex;
  cursor: pointer;
}

.burger-menu-home {
  padding-top: 50px;
}

.burger-menu-about {
  padding-bottom: 50px;
}

.burger-menu-title {
  margin: 30px 0px 0px 0px;
  position: relative;
}

.burger-item-container1, .burger-item-container2, .burger-item-container3, .burger-item-container4 {
  padding: 10px 0;
}

.burger-item-sub {
  cursor: pointer;
  color: #4d4d4d;
}

.burger-item-sub:hover {
  cursor: pointer;
  transition: color ease 0.25s;
  color: black;
}

.burger-item-sub-container1, .burger-item-sub-container2 {
  position: relative;
  height: 0px;
  z-index: 100;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  overflow-x: hidden;
  width: max-content;
  letter-spacing: 0px;
  margin-top: 0px;
  height: 0;
}

.burger-item-sub-container1-open, .burger-item-sub-container2-open {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  transition: ease 0.2s;
  overflow-x: hidden;
  width: max-content;
  height: auto;
}

.burger-designs-list-item {
  padding: 1em 1em 1em 1em;
  cursor: pointer;
  margin: 0 0 0 0;
  color: black;
  /* background-color: white; */
}

.burger-designs-list-item:hover {
  color: #333333;
  transition: ease 0.25s;
}

.burger-background {
  position: fixed;
  width: 100vw;
  top: 175px;
  height: 100vh;
  z-index: 150;
  background: rgba(0, 0, 0, 0.2);
}

.down-arrow {
  height: 1.2rem;
  padding-left: 7px;
}

.burger-down-arrow {
  width: 16px;
  padding-left: 10px;
  opacity: 0.6;
}

.burger-title-container:hover .burger-down-arrow {
  opacity: 1;
  transition: opacity ease 200ms;
}

.burger-top-arrow {
  width: 16px;
  transform: rotateX(180deg);
  transition: transform ease 200ms;
  padding-left: 10px;
  opacity: 0.6;
}

.burger-title-container:hover .burger-top-arrow {
  transition: opacity ease 200ms;
  opacity: 1;
}

.background-app {
  filter: blur(50px);
  opacity: 0.5;
}