@font-face {
    font-family: 'Avenir';
    src: url('../../assets/fonts/AvenirLTStd-Medium.otf')
}

.mobilier {
    position: absolute;
    left: 0;
    right: 0;
    top: 110%;
    bottom: 0;
    margin-bottom: 35vh;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Avenir';
    letter-spacing: 0.15em;
}

.mobilier-first-img {
    position: absolute;
    left: -124px;
}

.mobilier-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    grid-gap: 30px;
    /* grid-auto-flow: column */
}

.mobilier-item {
    height: 400px;
    width: 90%;
    justify-self: center;
    display: flex;
    align-items: center;
    position: relative;
}

.mobilier-img {
    height: auto;
    width: 100%;
}

.mobilier-title {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobilier-title h1 {
    font-size: 6rem;
    margin-bottom: 20px;
}

.test5 {
    grid-column-start: 1;
    grid-column-end: 3;
    overflow: hidden;
    position: relative;
}

.mobilier-double-img {
    height: fit-content;
    width: 100%;
}

.mobilier-split {
    width: 300px;
    height: 500px;
    position: absolute;
    top: -155px;
    transform: rotate(45deg);
    left: 122px;
    border-right: solid 30px white;
}

.mobilier-title p {
    margin: 0;
}

.mobilier-filters {
    display: flex;
    padding-top: 15px;
    border-top: 1px solid black;
    cursor: pointer;
    position: relative;
    min-width: 118px;
    justify-content: center;
}

.mobilier-down-arrow {
    height: 1.2rem;
    padding-left: 7px;
    transition: ease 300ms;
}

.mobilier-top-arrow {
    height: 1.2rem;
    padding-left: 7px;
    transform: rotateX(180deg);
    transition: ease 300ms;
}

.mobilier-close-filters {
    position: absolute;
    height: 0px;
    z-index: 100;
    top: 3rem;
    left: -20px;
    background-color: white;
    transition: ease 0.5s;
    overflow-x: hidden;
    width: max-content;
    padding: 0px 20px -20px 20px;
}

.mobilier-open-filters {
    position: absolute;
    height: auto;
    z-index: 90;
    top: 3rem;
    left: -20px;
    background-color: white;
    transition: ease 0.5s;
    overflow-x: hidden;
    width: max-content;
    box-shadow: 9px 10px 9px 0px grey;
    padding: 20px 20px 0px 20px;
    transition: ease 400ms;
}

.mobilier-select-filter {
    padding-bottom: 20px;
}

.mobilier-select-filter:hover {
    text-shadow: grey 1px 2px 3px;
}

.mobilier-select-filter:active {
    transform: scale(1.05)
}

@media all and (min-width: 600px) and (max-width: 1152px) {
    .mobilier-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 600px) {
    .mobilier-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}