@font-face {
    font-family: 'Avenir';
    src: url('../../assets/fonts/AvenirLTStd-Medium.otf')
}

/* .start {
    text-align: center;
    z-index: 10;
    font-family: 'Avenir';
    letter-spacing: 0.15em;

    position: fixed;
    
} */

.header {
    position: fixed;
    width: 100%;
    height: 50px;
    padding: 155px 0 25px 0;
    z-index: 100;
    background: white;
    letter-spacing: 2.5px;
    top: 0;
    font-size: 14px;
}

/* .header-container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.header-logo {
    display: inline-block;
    text-align: center;
    float: left;
    height: 100%;
    cursor: pointer;
}

.header-logo img {
    filter: invert(1);
    height: 80px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
} */

.navbar {
    display: flex;
    background-color: #fff;
    position: static;
    height: 100%;
    width: 70%;
    font-family: 'Avenir';
    margin: auto;
    justify-content: space-between;
}

/* .header {
    position: fixed;
    top: 15px;
    display: flex;
    right: 2%;
    justify-content: space-around;
    flex-direction: row;
    width: 35vw;
    z-index: 101;

}  */

.navbar-item-sub-container {
    width: 100%;
    border-collapse: collapse;
    border-left: 1px solid black;
}

.navbar-item-sub-container:first-of-type {
    border-left: none;
}

/* .arrow-container {
    position: fixed;
    bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.scoll-arrow {
    height: 30px;
    animation: wink 1300ms infinite;
} */

.navbar-main-item {
    margin-top: 6px;
    padding: 12px;
    position: relative;
    z-index: 2;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
}

.navbar-item-container1:hover .navbar-main-item, .navbar-item-container2:hover .navbar-main-item, .navbar-item-container3:hover .navbar-main-item, .navbar-item-container4:hover .navbar-main-item {
    color: white;
}

.navbar-main-item:after {
    content: "";
    height: 100%;
    left: 0;
    top: 0;
    width: 0px;
    position: absolute;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    z-index: -1;
}

.navbar-item-container1:hover .navbar-main-item:after, .navbar-item-container2:hover .navbar-main-item:after, .navbar-item-container3:hover .navbar-main-item:after, .navbar-item-container4:hover .navbar-main-item:after {
    width: 100%;
    background: black;
}

.navbar-item-sub:hover {
    background: black;
    color: white;
}

.navbar-item-sub {
    padding: 1em 0;
    cursor: pointer;
    margin: 0 0 0 0;
    color: black;
    font-size: 10px;
    white-space: nowrap;
    letter-spacing: 1px;
}

.navbar-item-sub-container1, .navbar-item-sub-container2 {
    /* position: absolute;
    z-index: 121;
    left: 0; */
    display: none;
    position: absolute;
    height: 0px;
    z-index: 100;
    top: 21px;
    left: 50%;
    transform: translateX(-50%);
    overflow-x: hidden;
    width: 140px;
    letter-spacing: 0px;
    margin-top: 20px;
    height: auto;
    transition: ease 200ms;
    /* background: rgba(255, 255, 255, 0.75); */
    background-color: white;
    box-shadow: 9px 10px 9px 0px grey;
}

/* .navbar-item-sub-container2 {
    position: absolute;
    z-index: 121;
    display: none;
} */

/* 
.navbar-item-container1:hover .navbar-item-sub-container1 .navbar-item-sub, .navbar-item-container2:hover .navbar-item-sub-container2 .navbar-item-sub {
    filter: opacity(1);
    height: auto;
    transition: ease-in 200ms;
} */

.navbar-item-container1:hover .navbar-item-sub-container1, .navbar-item-container2:hover .navbar-item-sub-container2 {
    /* position: absolute;
    z-index: 90;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    overflow-x: hidden;
    width: 150px;
    transition: ease 450ms;
    margin-top: 20px;
    height: auto; */
    display: block;
}

.navbar-item-container1, .navbar-item-container2, .navbar-item-container3, .navbar-item-container4 {
    text-align: center;
    width: 140px;
    position: relative;
    margin: auto;
    /* max-width: 106px; */
}

/* @media all and (min-width: 600px) and (max-width: 1152px) {
    .header {
        position: fixed;
        top: 0;
        display: flex;
        right: 8%;
        flex-direction: column;
        width: 20vw;
        visibility: visible;
        align-items: center;
    }
    .header2 {
        position: fixed;
        top: 0;
        display: flex;
        right: 8%;
        flex-direction: column;
        width: 20vw;
        visibility: hidden;
        align-items: center;
    }
    .navbar-item-sub-container1 {
        position: absolute;
        z-index: 121;
        display: none;
        left: 0;
        right: 0;
    }
    .navbar-item-sub-container2 {
        position: absolute;
        z-index: 121;
        display: none;
        left: 0;
        right: 0;
    }
    .navbar-item-container1:hover~.navbar-item-container2, .navbar-item-container1:hover~.navbar-item-container3 {
        visibility: hidden;
    }
    .navbar-item-container2:hover~.navbar-item-container3 {
        visibility: hidden;
    }
 } */

@media all and (max-width: 900px) {
    .header {
        position: fixed;
        width: 100%;
        height: 0px;
        padding: 155px 0 25px 0;
        z-index: 100;
        background: white;
        letter-spacing: 2px;
        top: 0;
    }
}