.burger-icon {
  position: fixed;
  right: 10vw;
  top: 60px;
  cursor: pointer;
  display: inline-block;
  z-index: 155;
  background-color: white;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .bar1,
  .bar3 {
    border-radius: 3px;
    position: relative;
    width: 35px;
    height: 2px;
    background-color: #4d4d4d;
    transition: 0.2s;
    align-self: center;
  }

  .mbar {
    position: relative;
    width: 35px;
    height: 2px;
    margin: 8px 0;
    transition: 0.2s;
    align-self: center;

    .mbar1,
    .mbar2 {
      border-radius: 5px;
      position: absolute;
      width: 35px;
      height: 2px;
      background-color: #4d4d4d;
      transition: 0.5s;
    }
  }

  .opened {
    .bar1 {
      opacity: 0;
    }

    .mbar1 {
      transform: rotate(45deg);
    }

    .mbar2 {
      transform: rotate(-45deg);
    }

    .bar3 {
      opacity: 0;
    }
  }

  &:hover {
    .bar1,
    .mbar1,
    .mbar2,
    .bar3 {
      background-color: black;
      transition: background-color 0s;
    }
  }
}
