@font-face {
    font-family: "Avenir";
    src: url("../assets/fonts/AvenirLTStd-Medium.otf");
}

.links-overview {
    margin: 200px auto;
    font-family: "Avenir";
    letter-spacing: 0.15em;
    width: 100%;
    height: 100%;
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    background: #ffffff;
    text-align: left;
    display: table;
    table-layout: fixed;

    .section-container {
        height: 400px;
        vertical-align: top;
        display: table-cell;
        width: 100%;
        font-family: "Avenir", sans-serif;
        padding: 0px 20px 40px 20px;
        box-sizing: border-box;
        overflow: hidden;
        width: 100%;
        max-width: 1200px;
        line-height: 0px;
        margin: 50px auto;
        overflow: hidden;

        .head {
            display: flex;
            flex-direction: column;
            justify-content: center;
            float: left;
            width: 100%;
            margin: 0;
            padding: 70px 2% 1% 11.5%;
            line-height: 0px;
            white-space: nowrap;

            .description-container {
                padding: 30px 4px 0;
                position: relative;
                min-width: 118px;
                margin-bottom: 50px;
            }

            h1 {
                font-size: 3rem;
                margin-bottom: 50px;
                letter-spacing: 0.15em;
            }

            p {
                margin: auto;
            }
        }
    }
}

@media all and (max-width: 1000px) {
    .links-overview {
        background-size: initial;
        background-position: top center;
        background-attachment: inherit;

        .section-container {
            vertical-align: top;
            max-width: 768px;
            overflow-wrap: break-word;
            overflow: hidden;

            .head {
                float: unset;
                width: 100%;
                margin: 0;
                padding: 70px 2% 50px 2%;
                line-height: 0px;
            }
        }
    }
}

@media all and (max-width: 900px) {
    .links-overview {
        margin: 150px auto;
    }
}

@media all and (max-width: 600px) {
    .links-overview {
        .head {
            min-width: 320px;
        }
    }
}
