.Information {
  margin: auto;
  width: 70%;

  .information-section {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    line-height: 1.7rem;

    a {
      text-decoration: none;
      color: black;
    }

    .information-paragraph {
      text-align: justify;
      margin-bottom: 1rem;
    }
  }

  @media all and (max-width: 576px) {
    width: 85%;
    text-align: center;
  }
}
